/*
 * File: user/style/mobile/AboutUsMobile.css
 * Author: Yash Balotiya
 * Description: This file contains all the styling part of the About Us Page for Mobile responsiveness.
 * Created on: 05/11/2024
 * Last Modified: 25/11/2024
**/

@media only screen and (max-width: 768px) {

    /* All sections */
    #aboutUsSection,
    #vissionSection,
    #docsSection,
    #accordion {
        width: 90vw;
        padding: 0 12px;
    }

    /* Intro */
    #introSection {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: auto;
        max-width: 100vw;
    }

    #introSection div h1 {
        font-size: 10vw;
    }

    /* Images */
    #ngoImage1 {
        width: 90vw;
    }

    #wellnessBanner2 {
        width: 90vw;
        height: 90vw;
    }

    /* Vission Mission */
    #vissionSection {
        display: flex;
        flex-direction: column;
        width: 90vw;
    }

    #vissionSection div {
        width: 100%;
    }

    /* Docs Section */
    .docsDiv {
        width: 100%;
    }
}