/*
 * File: user/style/mobile/OurWorkMobile.css
 * Author: Neha Balotia
 * Description: This file contains all the styling part of the Gallery Page for Mobile responsiveness.
 * Created on: 08/11/2024
 * Last Modified: 08/11/2024
**/

@media only screen and (max-width: 600px) {    
    
    /* Main Content */
    main {
        margin-top: 0%;
        width: 100%;
        display: flex;
        flex-direction: row;
        /* align-items: center; */
    }

    /* Sidebar */
    #yearSidebar {
        width: 100px;
        height: 100%;
        min-height: 30vh;
        display: flex;
        flex-direction: column;
        /* align-items: center; */
    }

    #tabs {
        width: 80%;
        margin: 0%;
    }

    #imagesDiv img {
        height: 140px;
    }

    #notFound {
        width: 280px;
    }
}





