/*
 * File: user/style/mobile/OurWorkMobile.css
 * Author: Neha Balotia
 * Description: This file contains all the styling part of the About Us Page for Mobile responsiveness.
 * Created on: 05/11/2024
 * Last Modified: 05/11/2024
**/

@media only screen and (max-width: 600px) {
    main {
        margin-top: 0;

    }

    #sidebarMobile {
        display: none;
    }

    .programSection {
        padding: 0% 8%;
        padding-bottom: 8%;
    }

    .programSection img {
        width: 100%;
        border-radius: 20px;
    }

}