<!-- 
    File: user/view/DocumentationSection.html
    Author: Yash Balotiya
    Description: This page contains all the HTML5 code of the Documentation Section in About Us Page.
    Created on: 01/08/2024
    Last Modified: 25/11/2024
-->

<!-- Documentation Section -->
<section class="infoDiv" id="docsSection">
    <br>
    <h3 class="headingText">Documentations</h3>

    <!-- Main Dropdown -->
    <div id="accordion">
        <!-- #1 -->
        <div class="card">
            <div class="card-header docsDiv" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                        aria-controls="collapseOne">
                        #1 NGO Darpan Certificate
                    </button>
                </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <iframe src="../../assets/pdfs/NGO Darpan Certificate (17).pdf" frameborder="0"></iframe>
                </div>
            </div>
        </div>

        <!-- #2 -->
        <div class="card">
            <div class="card-header docsDiv" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                        aria-expanded="false" aria-controls="collapseTwo">
                        #2 Form No. 10AC - Order for Provisional Registration
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                    <iframe src="../../assets/pdfs/10AC IT.pdf" frameborder="0"></iframe>
                </div>
            </div>
        </div>

        <!-- #3 -->
        <div class="card">
            <div class="card-header docsDiv" id="headingThree">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                        aria-expanded="false" aria-controls="collapseThree">
                        #3 Form No. 10AC - Order for Provisional Approval
                    </button>
                </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                    <iframe src="../../assets/pdfs/ABMCS7199AF20241_signed.pdf" frameborder="0"></iframe>
                </div>
            </div>
        </div>

        <!-- #4 -->
        <!-- <div class="card">
            <div class="card-header" id="headingFour">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour"
                        aria-expanded="false" aria-controls="collapseFour">
                        #4 Ministry Of Corporate Affairs
                    </button>
                </h5>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                <div class="card-body">
                    <iframe src="../../assets/pdfs/Ministry Of Corporate Affairs - MCA Services.pdf"
                        frameborder="0"></iframe>
                </div>
            </div>
        </div> -->

        <!-- #5 -->
        <div class="card">
            <div class="card-header docsDiv" id="headingFive">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive"
                        aria-expanded="false" aria-controls="collapseFive">
                        #4 Certificate of Incorporation
                    </button>
                </h5>
            </div>
            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                <div class="card-body">
                    <iframe src="../../assets/pdfs/SPICE + Part B_Approval Letter_AA6719119 (1).pdf"
                        frameborder="0"></iframe>
                </div>
            </div>
        </div>

        <!-- #6 -->
        <div class="card">
            <div class="card-header docsDiv" id="headingSix">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix"
                        aria-expanded="false" aria-controls="collapseSix">
                        #5 Licence under section 8(1) of the Companies Act, 2013
                    </button>
                </h5>
            </div>
            <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                <div class="card-body">
                    <iframe src="../../assets/pdfs/SPICE + Part B_Section 8 License_AA6719119.pdf"
                        frameborder="0"></iframe>
                </div>
            </div>
        </div>

        <!-- #7 -->
        <div class="card">
            <div class="card-header docsDiv" id="headingSeven">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeven"
                        aria-expanded="false" aria-controls="collapseSeven">
                        #6 Permanent Account Number - PAN Card
                    </button>
                </h5>
            </div>
            <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
                <div class="card-body">
                    <iframe src="../../assets/pdfs/pan copy santani foundation.pdf" frameborder="0"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>