<!-- 
    File: user/view/GallerySidebar.html
    Author: Yash Balotiya
    Description: This page contains all the HTML5 code of the sidebar of the gallery page.
    Created on: 01/08/2024
    Last Modified: 25/11/2024
-->

<!-- Section 1 Sidebar -->
<!-- <section>
    <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" id="yearSidebar">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <span class="fs-4">Years</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="#" class="nav-link active" aria-current="page">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#home"></use>
                    </svg>
                    2024
                </a>
            </li>
            <li>
                <a href="#" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#speedometer2"></use>
                    </svg>
                    2023
                </a>
            </li>
            <li>
                <a href="#" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#table"></use>
                    </svg>
                    2022
                </a>
            </li>
            <li>
                <a href="#" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#grid"></use>
                    </svg>
                    2021
                </a>
            </li>
            <li>
                <a href="#" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#people-circle"></use>
                    </svg>
                    2020
                </a>
            </li>
        </ul>
    </div>
</section> -->

<!-- Section 1 Sidebar -->
<section id="sidebar">
    <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" id="yearSidebar">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <span class="fs-4">Years</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="#" class="nav-link active" aria-current="page" data-year="2024">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#home"></use>
                    </svg>
                    2024
                </a>
            </li>
            <li>
                <a href="#" class="nav-link text-white" data-year="2023">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#speedometer2"></use>
                    </svg>
                    2023
                </a>
            </li>
            <li>
                <a href="#" class="nav-link text-white" data-year="2022">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#table"></use>
                    </svg>
                    2022
                </a>
            </li>
            <li>
                <a href="#" class="nav-link text-white" data-year="2021">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#grid"></use>
                    </svg>
                    2021
                </a>
            </li>
            <li>
                <a href="#" class="nav-link text-white" data-year="2020">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#people-circle"></use>
                    </svg>
                    2020
                </a>
            </li>
        </ul>
    </div>
</section>
