<!-- 
    File: user/view/OurPrograms.html
    Author: Yash Balotiya
    Description: This page contains all the HTML5 code of the our programs section of the index page.
    Created on: 28/07/2024
    Last Modified: 23/11/2024
-->

<section id="ourProgramsSection">
    <h2 id="OurPrograms">Our Programs</h2>

    <div id="wellnessDiv">
        <img src="../../assets/images/Wellness Banner1.jpg" alt="Wellness Polyclinic & Day Care Center" id="wellnessImg1">
    </div>

    <div id="ourProgramsChild1">
        <div class="ourProgramsChild3">
            <!-- Health -->
            <div class="ourProgramsChild2">
                <i class="fa-duotone fa-solid fa-heart-pulse programsIcons"></i>
                <h5>Health</h5>
            </div>

            <!-- Health Care -->
            <div class="ourProgramsChild2">
                <i class="fa-duotone fa-solid fa-notes-medical programsIcons"></i>
                <h5>Health Care</h5>
            </div>

            <!-- Traditional treatment of AYUSH -->
            <div class="ourProgramsChild2">
                <i class="fa-duotone fa-solid fa-leaf-heart programsIcons"></i>
                <h5>Traditional Treatment of AYUSH</h5>
            </div>

            <!-- Livelihoods -->
            <div class="ourProgramsChild2">
                <i class="fa-duotone fa-solid fa-person-shelter programsIcons"></i>
                <h5>Livelihoods</h5>
            </div>
        </div>

        <div class="ourProgramsChild3">
            <!-- Job-oriented Education -->
            <div class="ourProgramsChild2">
                <i class="fa-duotone fa-solid fa-diploma programsIcons"></i>
                <h5>Job-oriented Education</h5>
            </div>

            <!-- Employment -->
            <div class="ourProgramsChild2">
                <i class="fa-duotone fa-solid fa-briefcase programsIcons"></i>
                <h5>Employment</h5>
            </div>

            <!-- Technology -->
            <div class="ourProgramsChild2">
                <i class="fa-duotone fa-solid fa-microchip programsIcons"></i>
                <h5>Technology</h5>
            </div>

            <!-- Human Rights -->
            <div class="ourProgramsChild2">
                <i class="fa-duotone fa-solid fa-hand-fist programsIcons"></i>
                <h5>Human Rights</h5>
            </div>
        </div>

        <div class="ourProgramsChild3">
            <!-- Specially Abled -->
            <div class="ourProgramsChild2">
                <i class="fa-duotone fa-solid fa-wheelchair-move programsIcons"></i>
                <h5>Specially Abled</h5>
            </div>

            <!-- Women's Empowerment -->
            <div class="ourProgramsChild2">
                <i class="fa-duotone fa-solid fa-person-dress programsIcons"></i>
                <h5>Women's Empowerment</h5>
            </div>

            <!-- Art & Culture -->
            <div class="ourProgramsChild2">
                <i class="fa-duotone fa-solid fa-music-magnifying-glass programsIcons"></i>
                <h5>Art & Culture</h5>
            </div>

            <!-- Animal Protection -->
            <div class="ourProgramsChild2">
                <i class="fa-duotone fa-solid fa-paw-simple programsIcons"></i>
                <h5>Animal Protection</h5>
            </div>
        </div>
    </div>

    <button class="knowMoreBtn" onclick="window.location.href = 'user/view/OurWork.php'">Know More About Programs <i
            class="fa-solid fa-chevron-right"></i></button>
</section>