<!-- 
    File: user/view/OurProgramsTable.html
    Author: Yash Balotiya
    Description: This page contains all the HTML5 code of the our programs section TABLE of the index page page.
    Created on: 28/07/2024
    Last Modified: 28/07/2024
-->

<table id="programsTable">
    <tr>
        <!-- Health -->
        <td class="iconCol"><i class="fa-duotone fa-solid fa-heart-pulse programsIcons"></i></td>
        <td class="titleCol">
            <h5>Health</h5>
        </td>

        <!-- Job-oriented Education -->
        <td class="iconCol"><i class="fa-duotone fa-solid fa-diploma programsIcons"></i></td>
        <td class="titleCol">
            <h5>Job-oriented Education</h5>
        </td>

        <!-- Specially Abled -->
        <td class="iconCol"><i class="fa-duotone fa-solid fa-wheelchair-move programsIcons"></i></td>
        <td class="titleCol">
            <h5>Specially Abled</h5>
        </td>
    </tr>
    <tr>
        <!-- Health Care -->
        <td class="iconCol"><i class="fa-duotone fa-solid fa-notes-medical programsIcons"></i></td>
        <td class="titleCol">
            <h5>Health Care</h5>
        </td>

        <!-- Employment -->
        <td class="iconCol"><i class="fa-duotone fa-solid fa-briefcase programsIcons"></i></td>
        <td class="titleCol">
            <h5>Employment</h5>
        </td>

        <!-- Women's Empowerment -->
        <td class="iconCol"><i class="fa-duotone fa-solid fa-person-dress programsIcons"></i></td>
        <td class="titleCol">
            <h5>Women's Empowerment</h5>
        </td>
    </tr>
    <tr>
        <!-- Traditional treatment of AYUSH -->
        <td class="iconCol"><i class="fa-duotone fa-solid fa-leaf-heart programsIcons"></i></td>
        <td class="titleCol">
            <h5>Traditional Treatment of AYUSH</h5>
        </td>

        <!-- Technology -->
        <td class="iconCol"><i class="fa-duotone fa-solid fa-microchip programsIcons"></i></td>
        <td class="titleCol">
            <h5>Technology</h5>
        </td>

        <!-- Art & Culture -->
        <td class="iconCol"><i class="fa-duotone fa-solid fa-music-magnifying-glass programsIcons"></i></td>
        <td class="titleCol">
            <h5>Art & Culture</h5>
        </td>
    </tr>
    <tr>
        <!-- Livelihoods -->
        <td class="iconCol"><i class="fa-duotone fa-solid fa-person-shelter programsIcons"></i></td>
        <td class="titleCol">
            <h5>Livelihoods</h5>
        </td>

        <!-- Human Rights -->
        <td class="iconCol"><i class="fa-duotone fa-solid fa-hand-fist programsIcons"></i></td>
        <td class="titleCol">
            <h5>Human Rights</h5>
        </td>

        <!-- Animal Protection -->
        <td class="iconCol"><i class="fa-duotone fa-solid fa-paw-simple programsIcons"></i></td>
        <td class="titleCol">
            <h5>Animal Protection</h5>
        </td>
    </tr>
</table>

<!-- CSS -->
<!-- 
#programsTable {
    width: 90%;
    text-align: left;
    margin: 100px 0;
}

#programsTable tr td {
    height: 75px;
}

.iconCol {
    width: 5;
}

.titleCol {
    width: 25%;
}
 -->