<!-- 
    File: user/view/OurWorkSidebar.html
    Author: Yash Balotiya
    Description: This page contains all the HTML5 code of the sidebar in the our work page.
    Created on: 03/08/2024
    Last Modified: 05/11/2024
-->
<section class=" flex-column flex-shrink-0 p-3 bg-light" style="width: 280px;" id="sidebarMobile">
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="OurWork.php" class="nav-link active" aria-current="page">
                <i class="fa-regular fa-circle sbIcons"></i>
                All Programs
            </a>
        </li>
        <li>
            <a href="Health.php" class="nav-link link-dark" id="health">
                <i class="fa-regular fa-heart sbIcons"></i>
                Health
            </a>
        </li>
        <li>
            <a href="HealthCare.php" class="nav-link link-dark" id="healthCare">
                <i class="fa-regular fa-notes-medical sbIcons"></i>
                Health Care
            </a>
        </li>
        <li>
            <a href="AYUSH.php" class="nav-link link-dark" id="ayush">
                <i class="fa-regular fa-leaf-heart sbIcons"></i>
                Traditional Treatment of &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; AYUSH
            </a>
        </li>
        <li>
            <a href="Livelihoods.php" class="nav-link link-dark" id="livelihood">
                <i class="fa-solid fa-person-shelter sbIcons"></i>
                Livelihoods
            </a>
        </li>
        <li>
            <a href="JobOrientedEducation.php" class="nav-link link-dark" id="education">
                <i class="fa-regular fa-diploma sbIcons"></i>
                Job Oriented Education
            </a>
        </li>
        <li>
            <a href="Employment.php" class="nav-link link-dark" id="employment">
                <i class="fa-regular fa-briefcase sbIcons"></i>
                Employment
            </a>
        </li>
        <li>
            <a href="Technology.php" class="nav-link link-dark" id="technology">
                <i class="fa-regular fa-microchip sbIcons"></i>
                Technology
            </a>
        </li>
        <li>
            <a href="HumanRights.php" class="nav-link link-dark" id="humanRight">
                <i class="fa-light fa-hand-fist sbIcons"></i>
                Human Rights
            </a>
        </li>
        <li>
            <a href="SpeciallyAbled.php" class="nav-link link-dark" id="speciallyAbled">
                <i class="fa-regular fa-wheelchair-move sbIcons"></i>
                Specially Abled
            </a>
        </li>
        <li>
            <a href="WomenEmpowerment.php" class="nav-link link-dark" id="womenEmpowerment">
                <i class="fa-light fa-person-dress sbIcons"></i>
                Women's Empowerment
            </a>
        </li>
        <li>
            <a href="ArtAndCulture.php" class="nav-link link-dark" id="artCulture">
                <i class="fa-regular fa-music-magnifying-glass sbIcons"></i>
                Art & Culture
            </a>
        </li>
        <li>
            <a href="AnimalProtection.php" class="nav-link link-dark" id="animalProtection">
                <i class="fa-regular fa-paw-simple sbIcons"></i>
                Animal Protection
            </a>
        </li>
    </ul>
</section>