<!-- 
    File: user/view/TeamLeadersTable.html
    Author: Yash Balotiya
    Description: This page contains all the HTML5 code of the Team Leader section of the index page in table format.
    Created on: 23/11/2024
    Last Modified: 23/11/2024
-->

<section id="teamLeadersSection">

    <h2>Our Team Leaders</h2>
    <br>
    <table id="leadersTable">
        <tbody>
            <tr>
                <!-- 1 -->
                <td>
                    <b>DR. SANIA SAYED</b><br>
                    (Managing Director)<br>
                    MBBS, D.O., M.S. (Mumbai), FICO, FPRS, Consultant, Ophthalmologist & Eye Surgeon.
                </td>

                <!-- 2 -->
                <td>
                    <b>DR. TRUPTI S. JADHAV</b><br>
                    B.A.M.S. (Pune),
                    Ayurvedic Practitioner
                </td>

                <!-- 3 -->
                <td>
                    <b>DR. ANDLIB ABID PANKI</b><br>
                    Ozone Therapist and Acupuncturist,
                    Cert. Ozone Therapist, C. Acupuncturist,
                    C. Modern Pharmacology, BHMS
                </td>

                <!-- 4 -->
                <td>
                    <b>DR. HAFSA SHAH (Zarina Qureshi)</b><br>
                    BHMS, PGDEMS (Mumbai),
                    Cosmetologist
                </td>

                <!-- 5 -->
                <td>
                    <b>MRS. BHARTI VISHNU PAWAR</b><br>
                    Fat loss & Weight loss Consultant,
                    Liposuction Therapist
                </td>
            </tr>
            <tr>
                <!-- 1 -->
                <td>
                    <b>DR. MUKTADIR KHAN</b><br>
                    (Managing Director)<br>
                    PG-D (Orth), PG-C (Modern Pharmacology) JJ Hospital,
                    MRSPH (London),
                    Orth & Trauma Physician (South Korea)
                </td>

                <!-- 2 -->
                <td>
                    <b>DR. ATIQUE AHEMAD</b><br>
                    MBBS, DNB (Pediatric) Mumbai,
                    Newborn & Child Specialist,
                    Pediatric Consultant
                </td>

                <!-- 3 -->
                <td>
                    <b>Miss AYMAN M. JETPURWALA</b><br>
                    Ozone Therapist & Consultant Nutritionist (UK),
                    Specialist in Diabetes, Cardiac and Kidney,
                    Disease and Weight Management
                </td>

                <!-- 4 -->
                <td>
                    <b>DR. PRAKASH KHATWANI</b><br>
                    MBBS, M.S. (General Surgeon, Cancer Surgeon, 
                    Eye Surgeon & Hair Transplant Surgeon),
                    Ex. Consultant Surgeon Govt. ESIS Hospital, Andheri, Mumbai
                </td>

                <!-- 5 -->
                <td>
                    <b>Mr. SANTOSH SURYAWANSHI</b><br>
                    B.E., M.E. (Electrical)<br>
                    Founder Member
                </td>
            </tr>
            <tr>
                <!-- 1 -->
                <td>
                    <b>DR. SANDESH SHIRSATH</b><br>
                    (Bench of Magistrate),
                    Reflexologist, Clinical Psychologist,
                    Member of Child Welfare Committee, Govt. of Maharashtra
                </td>

                <!-- 2 -->
                <td>
                    <b>DR. YATRIK KHERADIA</b><br>
                    M.D. (Homoeopathic Physician),
                    Homoeopathic Consultant
                </td>

                <!-- 3 -->
                <td>
                    <b>DR. MINAKSHI J CHAUHAN</b><br>
                    MBBS, DDV, Fellowship in Dermatology - USA,
                    Cosmetic & General Dermatology & Laser,
                    Consultant Dermatologist & Cosmetologist
                </td>

                <!-- 4 -->
                <td>
                    <b>MR. OMVIR SINGH</b><br>
                    Neurotherapy Practitioner,
                    (Neurotherapy, Acupressure Treatment)
                </td>

                <!-- 5 -->
                <td>
                    <b>Mrs. ANITA SURYAWANSHI</b><br>
                    B.Com., M.Com.<br>
                    Founder Member
                </td>
            </tr>
            <tr>
                <!-- 1 -->
                <td>
                    <b>DR. AMOL WAGH</b><br>
                    MBBS, M.S. (General Surgeon),
                    Laparoscopic Surgeon & Robotic Surgeon,
                    Consultant Surgeon & Associate Professor J.J. Hospital
                </td>

                <!-- 2 -->
                <td>
                    <b>DR. NEHA JAIN</b><br>
                    M.D. (Homoeopathic Physician),
                    Homoeopathic Consultant
                </td>

                <!-- 3 -->
                <td>
                    <b>DR. SALMAN ALI SAYED</b><br>
                    MBBS (J.J. Hospital), MD (Medicine),
                    (LTMMC, Sion Hospital),
                    DM (Nephrology) Nair Hospital, Mumbai,
                    Consultant Nephrologist and Kidney Transplant Physician
                </td>

                <!-- 4 -->
                <td>
                    <b>DR. JENAM MEHTA</b><br>
                    MBBS, MD (Medicine), D. N. B.,
                    Consultant Physician & Chest Specialist
                </td>

                <!-- 5 -->
                <td>
                    <b>MR. HIRA RAKHUNDE</b><br>
                    B.E., M.E. (Computer)<br>
                    Core Committee Member
                </td>
            </tr>
            <tr>
                <!-- 1 -->
                <td>
                    <b>DR. NADIR Z. SHAH</b><br>
                    MBBS, M.S. (Orth.), NUHS - Singapore,
                    Consultant Surgeon & Associate Professor,
                    Grant Medical & J.J. Hospitals, Mumbai
                </td>

                <!-- 2 -->
                <td>
                    <b>DR. FAROKH J. MASTER</b><br>
                    LCEH, MD (Homoeopathic), PHD,
                    FRCH (UK), FHMA (UK),
                    Online Homoeopathic Consultant
                </td>

                <!-- 3 -->
                <td>
                    <b>DR. VIJAY TAMBADKAR</b><br>
                    (Acupuncture, Acupressure, Sujok Therapy),
                    Consultant Complementary and Alternative Treatment
                </td>

                <!-- 4 -->
                <td>
                    <b>DR. FAKRE ALAM</b><br>
                    B.P.T.,
                    Consultant Physiotherapist
                </td>

                <!-- 5 -->
                <td>
                    <b>MR. YASH BALOTIYA</b><br>
                    B. Tech. (IT)<br>
                    Technical Project Manager
                </td>
            </tr>
            <tr>
                <!-- 1 -->
                <td>
                    <b>DR. ATIQUE AHEMAD</b><br>
                    MBBS, DNB (Pediatric) Mumbai, Newborn & Child Specialist Pediatric Concultant
                </td>

                <!-- 2 -->
                <td>
                    <b>DR. SANTOSH GOTI</b><br>
                    MBBS, M.S. (Orth.), Consultant Surgeon & Associate Professor, Grant Medical & J. J. Hospitals,
                    Mumbai
                </td>

                <!-- 3 -->
                <td>
                    <b>DR. SIRAJ SAYED</b><br>
                    MBBS, Hair Transplant Specialist (Trichologist)
                </td>

                <!-- 4 -->
                <td>
                    <b>DR. NITIN SURYAWANSHI</b><br>
                    MBBS, MD (Medicine), Consultant Physician & Diabetologist
                </td>

                <!-- 5 -->
                <td>
                    <b>MR. SURESH T. PEVEKAR</b><br>
                    Ex-Employee SBI, LIC - Life Mitra
                </td>
            </tr>
        </tbody>
    </table>
    </div>
</section>