<!-- 
    File: user/view/TeamLeader.html
    Author: Yash Balotiya
    Description: This page contains all the HTML5 code of the Team Leader section of the index page.
    Created on: 28/07/2024
    Last Modified: 08/08/2024
-->

<section id="teamLeadersSection">

    <h2>Our Team Leaders</h2>
    <div id="teamLeadersChild1">
        <!-- <i class="fa-solid fa-angle-left"></i> -->

        <!-- Profile 1 -->
        <div id="teamLeadersChild2">
            <img src="assets/images/Santosh S..jpeg" alt="">
            <h4>Santosh Suryawanshi</h4>
            <p>Health, Health Care, Traditional Treatment of AYUSH, Livelihoods.</p>
        </div>

        <!-- Profile 2 -->
        <div id="teamLeadersChild2">
            <img src="assets/images/Dr. Muktadir Khan.png" alt="">
            <h4>Dr. Muktadir Khan</h4>
            <p>Employment, Human Rights, Specially Abled.</p>
        </div>

        <!-- Profile 3 -->
        <div id="teamLeadersChild2">
            <img src="assets/images/Hira R..JPG" alt="">
            <h4>Hira Rakhunde</h4>
            <p>Employment, Human Rights, Specially Abled.</p>
        </div>

        <!-- Profile 4 -->
        <!-- <div id="teamLeadersChild2">
            <img src="assets/images/Hira R..JPG" alt="">
            <h4>Siddhesh D.</h4>
            <p>Women's Empowerment, Art & Culture, Animal Protection.</p>
        </div> -->

        <!-- Profile 5 -->
        <div id="teamLeadersChild2">
            <img src="assets/images/Yash Photo.png" alt="">
            <h4>Yash Balotiya</h4>
            <p>Job-oriented Education, Technology.</p>
        </div>

        <!-- <i class="fa-solid fa-angle-right"></i> -->
    </div>
</section>